## Домашнее задание 1
Оформляйте ноутбук, используя эти советы:
## Номер задачи - заголовок 2
### Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код

## Домашнее задание 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое
количество названий фруктов и их количество, а возвращает
общее количество фруктов на складе

In [1]:
def fruit_weight(**kwargs):
    return sum(kwargs.values())

In [3]:
fruit_weight(apple = 10, pear = 5, plum = 15)

30

## Домашнее задание 3
Дан список с затратами на рекламу. Но в данных есть ошибки,
некоторые затраты имеют отрицательную величину. Удалите
такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [4]:
ls_reclama = [100, 125, -90, 345, 655, -1, 0, 200]

In [5]:
def cost_reclama(ls:list)->int:
    cost = [i for i in ls if i >0]
    return sum(cost)

In [6]:
cost_reclama(ls_reclama)

1425

### Домашнее задание 4
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
'2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [7]:
data = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
money = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [15]:
def sum_month(ls_data: list, ls_money: list, month: str)->int:
    ls = {i: j for (i,j) in zip(ls_data,ls_money)}
    month_money = [ls[i] for i in ls if i.split("-")[1] == month]
    return sum(month_money)

In [16]:
sum_month(data, money, '11')

15239

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где
ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [25]:
def sum_year(ls_data: list, ls_money: list)->dict:
    dc = {i: j for (i,j) in zip(ls_data,ls_money)}
    dict_year = {}
    for x, y in dc.items():
        if x.split("-")[1] in dict_year:
            sum_month = dict_year[x.split("-")[1]] + y
            dict_year[x.split("-")[1]] = sum_month
        else:
            dict_year[x.split("-")[1]] = y
    return dict_year

In [26]:
sum_year(data, money)

{'09': 21552, '12': 38860, '10': 22906, '11': 15239}